    {{#each listings}}{{listings.title}}{{/each}}
    <div id="featuredBar">FEATURED LISTINGS</div>
    <div class="featured">
    {{#each listings}}
      <div id="featured1">
        <img src="{{photoloc}}">
        <span id="featured1Title">{{title}}</span>
        {{description}}
        <span id="featured1City">{{location}}</span>
        <span id="featured1Rate">Rate: ${{pricepernight}} per night</span>
      </div>
    {{/each}}
    </div>
    {{> whyodysseus}}
    {{> footer }} 